#### Q1

In [1]:
a = 0
def b():
 global a
 a = c(a)
def c(a):
 return a + 2

In [2]:
b()
b()
b()
a

6

What value is displayed when the last expression (a) is evaluated? Explain your
answer by indicating what happens in every executed statement.<br>

initial value of a is 0, it is used in both b and c. B () called function c (), which increases the values by 2. same way, each time b is called, and c is also called, there is increament of value of 2. Since "a" is a global variable, its value is changed globally each time b is called.

#### Q2

In [1]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except IOError:
        # executed only if an IOError exception is raised
        print('File {} not found'.format(file_name))

In [4]:
file_length('mideterm.py')

226

In [5]:
file_length('ideterm.py')

File ideterm.py not found

#### Q3

In [58]:
class Marsupial:
    def __init__(self,initial = []):
        self.lst = initial

    def put_in_pouch(self, list_item):
        self.lst.append(list_item)

    def pouch_contents(self):
        return self.lst


class Kangaroo(Marsupial):
    def __init__(self, coord_x=0, coord_y=0):
        super().__init__()
        self.coord_x = coord_x
        self.coord_y = coord_y

    def jump(self, dx_input, dy_input):
        self.coord_x = self.coord_x + dx_input
        self.coord_y = self.coord_y + dy_input

    def __str__(self):
        return f"I am a Kangaroo located at coordinates ({self.coord_x},{self.coord_y})"

In [59]:
k = Kangaroo(0,0)
print(k)

I am a Kangaroo located at coordinates (0,0)

In [60]:
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [61]:
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

In [62]:
print(k)

I am a Kangaroo located at coordinates (3,0)

#### Q4

In [16]:
def collatz(n):
        if n == 1: 
            print(1)
        elif n % 2 == 0:
            print(int(n))
            n=n/2
            collatz(n)
        else:
            print(int(n))
            n=3*n + 1
            collatz(n)

In [17]:
collatz(10)

10
5
16
8
4
2
1

#### Q5

In [23]:
def binary(num):
    if (num == 0):
        target = 0
        return target
    if (num == 1):
        target = 1  
        return target
    else:
        target = num % 2 + 10 * (binary(num//2))
        return target

In [24]:
print(binary(1))

1

In [25]:
print(binary(3))

11

In [26]:
print(binary(9))

1001

#### Q6

In [81]:
#Reference: https://docs.python.org/3/library/html.parser.html#module-html.parser
from html.parser import HTMLParser

class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.identation = 0
        self.data_value = ""

    def handle_starttag(self, tag, attrs):
        if tag in ["h1", "h2"]:
            self.identation = int(tag[1]) - 1
            self.data_value = ""

    def handle_data(self, data):
        if self.identation >= 0:
            self.data_value += data

    def handle_endtag(self, tag):
        if tag in ["h1", "h2"]:
            print("  " * self.identation + self.data_value)

In [82]:
infile = open('w3c.html')

In [83]:
content = infile.read()

In [84]:
hp = HeadingParser()

In [85]:
infile.close()

In [86]:
hp.feed(content)

W3C Mission
  Principles

#### Q7

In [88]:
import requests
from bs4 import BeautifulSoup

def webdir(url, depth, indent):
    print(' ' * indent + url)
    increamental=1
    if depth == 0:
        return
    
    response = requests.get(url)
    print(response.status_code)
    
    if response.status_code != 200:
        return
   
    all_web_data = BeautifulSoup(response.content, 'html.parser')
    print(all_web_data)
    
    anchor_link = all_web_data.find_all('a')
   
    for link in anchor_link:
        temp = link.get('href')
        if temp.startswith('http'):
            webdir(temp, depth - increamental, indent + increamental)

In [89]:
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html', 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
404

#### Q8

In [42]:
import sqlite3
connection_p = sqlite3.connect('ps.db')

In [ ]:
connection_p.execute('''CREATE TABLE climate(City text,Country text,Season text,Temperature integer,Rainfall integer);''')

In [45]:
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Winter',24.8,5.9);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Spring',28.4,16.2);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Summer',27.9,1549.4);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Mumbai','India','Fall',27.6,346.0);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Winter',4.2,207.7);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Spring',8.3,169.6);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Summer',15.7,157.0);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('London','United Kingdom','Fall',10.4,218.5);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Winter',13.6,16.5);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Spring',20.7,6.5);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Summer',27.7,0.1);")
connection_p.execute("insert into climate(City,Country,Season,Temperature,Rainfall) values('Cairo','Egypt','Fall',22.2,4.5);")

In [56]:
# replace <table name> with your table name here i am using climate
#a
q_a="select Temperature from climate"
#b
q_b="select distinct city from climate"
#c
q_c="select * from climate where country ='India'"
#d
q_d="select * from climate where Season='Fall'"
#e
q_e="select city,country,season from climate where Rainfall between 200 and 400"
#f
q_f="select city,country from climate where Season='Fall' and Temperature>20 order by Temperature"
#g
q_g="select sum(Rainfall) from climate where city='Cairo'"
#h
q_h="select season, sum(Temperature) from climate group by season"

In [48]:
connection_p.execute(q_a).fetchall()

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

In [49]:
connection_p.execute(q_b).fetchall()

[('Mumbai',), ('London',), ('Cairo',)]

In [50]:
connection_p.execute(q_c).fetchall()

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346)]

In [51]:
connection_p.execute(q_d).fetchall()

[('Mumbai', 'India', 'Fall', 27.6, 346),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

In [57]:
connection_p.execute(q_e).fetchall()

[('Mumbai', 'India', 'Fall'),
 ('London', 'United Kingdom', 'Winter'),
 ('London', 'United Kingdom', 'Fall')]

In [53]:
connection_p.execute(q_f).fetchall()

[('Cairo', 'Egypt'), ('Mumbai', 'India')]

In [54]:
connection_p.execute(q_g).fetchall()

[(27.6,)]

In [55]:
connection_p.execute(q_h).fetchall()

[('Fall', 60.2),
 ('Spring', 57.400000000000006),
 ('Summer', 71.3),
 ('Winter', 42.6)]

#### Q9

In [1]:
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']
ans_a=[word.upper() for word in words]
print(ans_a)
ans_b=[word.lower() for word in words]
print(ans_b)
ans_c=[len(word) for word in words]
print(ans_c)
ans_d=[[word.upper(),word.lower(),len(word)]  for word in words]
print(ans_d)
ans_e=[word  for word in words if len(word)>=4]
print(ans_e)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[3, 5, 5, 3, 5, 4, 3, 4, 3]
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
['quick', 'brown', 'jumps', 'over', 'lazy']